//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 01 15:36:13 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "P152" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "P150" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "P149" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "P148" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "P147" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "P146" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "P144" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "P143" LEVEL 1;
COMP "LED" LOCATE = SITE "P191" LEVEL 1;
COMP "RSTN" LOCATE = SITE "P57" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P154" LEVEL 1;
COMP "BUTTON_DOT_IN" LOCATE = SITE "P61" LEVEL 1;
COMP "BUTTON_NUM_IN<0>" LOCATE = SITE "P62" LEVEL 1;
COMP "BUTTON_NUM_IN<1>" LOCATE = SITE "P52" LEVEL 1;
COMP "BUTTON_NUM_IN<2>" LOCATE = SITE "P58" LEVEL 1;
COMP "BUTTON_NUM_IN<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "BUTTON_NUM_IN<4>" LOCATE = SITE "P74" LEVEL 1;
COMP "BUTTON_NUM_IN<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "BUTTON_NUM_IN<6>" LOCATE = SITE "P71" LEVEL 1;
COMP "BUTTON_NUM_IN<7>" LOCATE = SITE "P65" LEVEL 1;
COMP "BUTTON_NUM_IN<8>" LOCATE = SITE "P67" LEVEL 1;
COMP "BUTTON_NUM_IN<9>" LOCATE = SITE "P63" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P156" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "P155" LEVEL 1;
COMP "BUTTON_EQUAL_IN" LOCATE = SITE "P64" LEVEL 1;
COMP "CLK_1MHz" LOCATE = SITE "P79" LEVEL 1;
COMP "CLK_1kHz" LOCATE = SITE "P76" LEVEL 1;
COMP "BUTTON_OPER_IN<0>" LOCATE = SITE "P45" LEVEL 1;
COMP "BUTTON_OPER_IN<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "BUTTON_OPER_IN<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "BUTTON_OPER_IN<3>" LOCATE = SITE "P44" LEVEL 1;
COMP "SHIFT_IN" LOCATE = SITE "P34" LEVEL 1;
NET "CLK_1MHz_BUFGP/IBUFG" BEL "CLK_1MHz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

