NET "CLK_1MHz" LOC = "P79";
NET "CLK_1kHz" LOC = "P76";
NET "RSTN" LOC = "P57";

NET "LED" LOC = "P191";

NET "LCD_RS" LOC = "P156";
NET "LCD_RW" LOC = "P155";
NET "LCD_E" LOC = "P154";

NET "LCD_DATA<7>" LOC = "P143";
NET "LCD_DATA<6>" LOC = "P144";
NET "LCD_DATA<5>" LOC = "P146";
NET "LCD_DATA<4>" LOC = "P147";
NET "LCD_DATA<3>" LOC = "P148";
NET "LCD_DATA<2>" LOC = "P149";
NET "LCD_DATA<1>" LOC = "P150";
NET "LCD_DATA<0>" LOC = "P152";

//NET "SEG_COM<3>" LOC ="P18";
//NET "SEG_COM<2>" LOC ="P19";
//NET "SEG_COM<1>" LOC ="P20";
//NET "SEG_COM<0>" LOC ="P21";

//NET "SEG_DATA<7>" LOC ="P22";
//NET "SEG_DATA<6>" LOC ="P24";
//NET "SEG_DATA<5>" LOC ="P26";
//NET "SEG_DATA<4>" LOC ="P27";
//NET "SEG_DATA<3>" LOC ="P28";
//NET "SEG_DATA<2>" LOC ="P29";
//NET "SEG_DATA<1>" LOC ="P31";
//NET "SEG_DATA<0>" LOC ="P33";

NET "BUTTON_NUM_IN<9>" LOC = "P63";
NET "BUTTON_NUM_IN<8>" LOC = "P67";
NET "BUTTON_NUM_IN<7>" LOC = "P65";
NET "BUTTON_NUM_IN<6>" LOC = "P71";
NET "BUTTON_NUM_IN<5>" LOC = "P68";
NET "BUTTON_NUM_IN<4>" LOC = "P74";
NET "BUTTON_NUM_IN<3>" LOC = "P50";
NET "BUTTON_NUM_IN<2>" LOC = "P58";
NET "BUTTON_NUM_IN<1>" LOC = "P52";
NET "BUTTON_NUM_IN<0>" LOC = "P62";

NET "BUTTON_DOT_IN" LOC = "P61";
NET "BUTTON_EQUAL_IN" LOC = "P64";

NET "BUTTON_OPER_IN<3>" LOC = "P44";
NET "BUTTON_OPER_IN<2>" LOC = "P48";
NET "BUTTON_OPER_IN<1>" LOC = "P46";
NET "BUTTON_OPER_IN<0>" LOC = "P45";

NET "SHIFT_IN" LOC = "P34";