//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 01 01:03:53 2017
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

