//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 21 23:58:12 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P191" LEVEL 1;
COMP "RSTN" LOCATE = SITE "P57" LEVEL 1;
COMP "in<0>" LOCATE = SITE "P52" LEVEL 1;
COMP "in<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "in<2>" LOCATE = SITE "P50" LEVEL 1;
COMP "in<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "in<4>" LOCATE = SITE "P68" LEVEL 1;
COMP "in<5>" LOCATE = SITE "P71" LEVEL 1;
COMP "in<6>" LOCATE = SITE "P65" LEVEL 1;
COMP "in<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "in<8>" LOCATE = SITE "P63" LEVEL 1;
COMP "SEG_COM<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "SEG_COM<1>" LOCATE = SITE "P20" LEVEL 1;
COMP "SEG_COM<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "SEG_COM<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "P33" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "P31" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "P28" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P187" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P185" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P184" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "P24" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P182" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P181" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P178" LEVEL 1;
COMP "CLK" LOCATE = SITE "P76" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P176" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

